

<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
          <h1 style="font-weight: bold">{{title}}</h1>
        <app-post-list-component
                      *ngFor="let post of posts"
                       [postTitle]    = "post._title"
                       [postContent]  = "post._content"
                       [postMaj]      = "post.created_at"
                       [point]        = "post.point"

        >
      </app-post-list-component>
      </ul>

    </div>
  </div>
  
</div>
