<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': point > 0,
                'list-group-item-danger': point < 0}">
    <div  style="float: right">
        <p>{{ postMaj | date: 'MM/dd/yyyy, hh:mm a' }}</p>
    </div>
    <h1 [ngStyle]="{color: getColor()}">{{postTitle}}</h1>    
    <p>{{postContent}}</p>
    <button class="btn btn-success" (click)="loveIt()">Love it!</button>
    &nbsp;
    <button class="btn btn-danger" (click)="dontLoveIt()">Don't love it!</button>
</li>

